<div>
  <button class="btn btn-primary" (click)="onIncrement()">Increment</button>&nbsp;
  <button class="btn btn-info" (click)="onDecrement()">Decrement</button>&nbsp;
  <button class="btn btn-warning" (click)="onReset()">Reset</button>
</div>
